*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-size: 16px;
  font-family: "Barlow";
}

h1 {
  font-size: 1.5384615385rem;
  line-height: 1.25;
}

h2 {
  font-size: 1.1538461538rem;
  line-height: 1.25;
}

h3 {
  font-size: 0.9615384615rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.5;
}

li {
  font-size: 1rem;
  line-height: 1.5;
  list-style: none;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

a {
  font-size: 1rem;
  text-decoration: none;
}

.primary_btn {
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 33px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-out;
}
.primary_btn::after {
  content: "";
  -webkit-mask-image: url("../img/arrow.svg");
  mask-image: url("../img/arrow.svg");
  height: 8px;
  width: 13px;
  margin-left: 1rem;
}
.primary_btn.transparent {
  background: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.primary_btn.transparent::after {
  background-color: #FFFFFF;
}
.primary_btn.white {
  background: #FFFFFF;
  color: #000000;
  border: 1px solid #FFFFFF;
}
.primary_btn.white::after {
  background-color: #000000;
}
.primary_btn.red {
  background: transparent;
  color: #E3000F;
  border: 1px solid #E3000F;
}
.primary_btn.red::after {
  background-color: #E3000F;
}
.primary_btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
}
@media (min-width: 1440px) {
  .primary_btn {
    padding: 0.75rem 2rem;
  }
}

.stop_scroll {
  overflow: hidden;
}

span {
  font-size: 0.875rem;
}

img {
  max-width: 100%;
}

.stretched_link {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

@media (min-width: 1440px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}
header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.9rem 1rem;
  max-width: 1310px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
@media (min-width: 1024px) {
  header {
    width: 90%;
    margin-inline: auto;
  }
}
@media (min-width: 1280px) {
  header {
    width: 85%;
  }
}
@media (min-width: 1440px) {
  header {
    width: 80%;
  }
}

.header_logo_container {
  height: 100%;
  display: grid;
  place-items: center;
  background-image: url("../img/KL_Logo_SHT_Final-1.png");
  background-size: 100% 100%;
  width: 100px;
  text-align: center;
}
.header_logo_container img {
  object-fit: contain;
  max-height: 58px;
}

nav {
  position: fixed;
  inset: 5rem 0 0 0;
  width: 100%;
  height: calc(100vh - 5rem);
  background: #1E2A4F;
  z-index: 20;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
nav.active {
  transform: translateX(0);
}
nav .social_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex: 0.2;
}

.nav_links {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.nav_links li a {
  display: inline-block;
  padding-bottom: 0.05rem;
  color: #FFFFFF;
  font-weight: 700;
}
.nav_links li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #E3000F;
  transition: width 0.3s;
}
.nav_links li a:hover::after {
  width: 100%;
}
.nav_links li a:hover {
  color: #E3000F;
}

.burger {
  padding: 0.5rem;
  cursor: pointer;
}
.burger div {
  width: 2rem;
  height: 4px;
  background: #000000;
  margin: 0.5rem 0;
  border-radius: 2rem;
  transition: all 0.1s ease-in;
}

.burger.active div:nth-child(1) {
  transform: translateY(0.4rem) rotate(45deg);
}
.burger.active div:nth-child(2) {
  display: none;
}
.burger.active div:nth-child(3) {
  transform: translateY(-0.4rem) rotate(-45deg);
}

@media (min-width: 1024px) {
  .burger {
    display: none;
  }

  nav {
    position: relative;
    inset: 0;
    transform: unset;
    background: unset;
    flex-direction: row;
    height: 100%;
  }
  nav .social_icons {
    flex: unset;
  }

  .nav_links {
    flex-direction: row;
    gap: 1rem;
    flex: 1;
  }
  .nav_links li a {
    color: #000000;
  }
}
@media (min-width: 1440px) {
  header {
    height: 6.5rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .header_logo_container {
    width: 12.75rem;
  }

  .nav_links {
    gap: 2rem;
  }
  .nav_links li:not(:first-child) {
    position: relative;
  }
  .nav_links li:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -1rem;
    transform: translateY(-50%);
    height: 6px;
    width: 3px;
    background: rgba(227, 0, 15, 0.2);
  }
}
footer {
  padding: 1.9rem 1rem;
  max-width: 1310px;
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 1024px) {
  footer {
    width: 90%;
    margin-inline: auto;
  }
}
@media (min-width: 1280px) {
  footer {
    width: 85%;
  }
}
@media (min-width: 1440px) {
  footer {
    width: 80%;
  }
}

.footer_bg {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
}

.footer_col1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
.footer_col1 > div p {
  font-weight: 700;
}
.footer_col1 > div span {
  color: #E3000F;
}

.footer_col1_logo {
  object-fit: contain;
}

.footer_col2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.footer_col2 span {
  font-weight: 700;
  font-size: 12px;
  word-spacing: 9999px;
  text-transform: uppercase;
  width: min-content;
}

.footer_col2_logos {
  display: flex;
}
.footer_col2_logos img {
  object-fit: contain;
}

@media (min-width: 768px) {
  .footer_col1 {
    margin-bottom: 0;
  }

  .footer_bg {
    object-fit: contain;
  }
}
.hero_section {
  background: #E3000F;
}

.hero_section_container {
  padding: 1.9rem 1rem;
  max-width: 1310px;
  display: flex;
  flex-direction: column-reverse;
  padding-top: 2.8rem;
  color: #FFFFFF;
}
@media (min-width: 1024px) {
  .hero_section_container {
    width: 90%;
    margin-inline: auto;
  }
}
@media (min-width: 1280px) {
  .hero_section_container {
    width: 85%;
  }
}
@media (min-width: 1440px) {
  .hero_section_container {
    width: 80%;
  }
}

.hero_content h1 {
  font-weight: 400;
  margin-bottom: 1rem;
}
.hero_content h2 {
  font-weight: 400;
  margin-bottom: 2.5rem;
}

.hero_btns {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.hero_img {
  position: relative;
  margin-bottom: 2rem;
  max-width: 400px;
  margin-inline: auto;
}
.hero_img .static_img {
  display: block;
  aspect-ratio: 380/400;
  width: 40%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid yellow;
}
.hero_img .video img {
  display: block;
  aspect-ratio: 608/522;
  width: 100%;
  height: auto;
  border-radius: 68% 32% 23% 77%/54% 52% 48% 46%;
}

.banner_section {
  display: flex;
  justify-content: center;
  padding: 1.9rem 1rem;
  max-width: 1310px;
}
@media (min-width: 1024px) {
  .banner_section {
    width: 90%;
    margin-inline: auto;
  }
}
@media (min-width: 1280px) {
  .banner_section {
    width: 85%;
  }
}
@media (min-width: 1440px) {
  .banner_section {
    width: 80%;
  }
}
.banner_section a img {
  aspect-ratio: 5/1;
  max-height: 100px;
}

.about_section {
  padding: 1.9rem 1rem;
  max-width: 1310px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
@media (min-width: 1024px) {
  .about_section {
    width: 90%;
    margin-inline: auto;
  }
}
@media (min-width: 1280px) {
  .about_section {
    width: 85%;
  }
}
@media (min-width: 1440px) {
  .about_section {
    width: 80%;
  }
}

.about_card {
  display: flex;
  flex-direction: column-reverse;
  padding: 2.5rem;
  border-radius: 25px;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
  width: 100%;
}
.about_card .header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.about_card .header .header_icon {
  height: 3rem;
  min-width: 3rem;
  width: 3rem;
  display: grid;
  place-items: center;
  border-radius: 50% 50% 50% 50%/78% 60% 40% 22%;
}
.about_card .header .header_icon.red {
  background: #E3000F;
}
.about_card .header .header_icon.blue {
  background: #1E2A4F;
}
.about_card .header h2 {
  word-spacing: 9999px;
  font-weight: 700;
}
.about_card .header h2.red {
  color: #E3000F;
}
.about_card .header h2.blue {
  color: #1E2A4F;
}
.about_card ul.red li::before {
  background: #E3000F;
}
.about_card ul.blue li::before {
  background: #1E2A4F;
}
.about_card ul li {
  font-weight: 700;
  position: relative;
  padding-left: 1rem;
}
.about_card ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 6px;
  width: 3px;
}
.about_card .about_card_img {
  position: relative;
  padding: 0 1rem 1rem 1rem;
  max-width: 210px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.about_card .about_card_img img {
  display: block;
  width: 120px;
  height: auto;
  aspect-ratio: 1/1;
  position: relative;
  margin-left: auto;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.2);
}
.about_card .about_card_img.red::after {
  background: #E3000F;
}
.about_card .about_card_img.blue::after {
  background: #1E2A4F;
}
.about_card .about_card_img::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(1rem);
  height: 144px;
  width: 126px;
  border-radius: 50% 50% 50% 50%/78% 60% 40% 22%;
}
@media (min-width: 768px) {
  .about_card {
    flex: 0.5;
  }
}
@media (min-width: 1280px) {
  .about_card {
    align-items: center;
    flex-direction: row;
    padding: 3.5rem;
  }
  .about_card .about_card_content {
    flex: 0.5;
  }
  .about_card .about_card_img {
    flex: 0.5;
    margin-bottom: 0;
  }
  .about_card .about_card_img img {
    width: 140px;
  }
  .about_card .about_card_img::after {
    height: 164px;
    width: 146px;
  }
}

.coaches_section_container {
  padding: 1.9rem 1rem;
  max-width: 1310px;
}
@media (min-width: 1024px) {
  .coaches_section_container {
    width: 90%;
    margin-inline: auto;
  }
}
@media (min-width: 1280px) {
  .coaches_section_container {
    width: 85%;
  }
}
@media (min-width: 1440px) {
  .coaches_section_container {
    width: 80%;
  }
}
.coaches_section_container .primary_btn {
  display: flex;
  justify-content: flex-end;
  width: max-content;
  margin-left: auto;
}

.coaches_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem 0;
  margin-bottom: 3rem;
}

.coaches_item {
  flex: 1 1 auto;
  text-align: center;
  padding: 0 2rem;
}
.coaches_item img {
  display: block;
  aspect-ratio: 1/1;
  height: auto;
  width: 100px;
  margin-bottom: 1rem;
  margin-inline: auto;
  border-radius: 50% 50% 50% 50%/78% 60% 40% 22%;
}
.coaches_item span {
  color: #E3000F;
}
@media (min-width: 1024px) {
  .coaches_item:not(:last-child) {
    border-right: 1px solid rgba(227, 0, 15, 0.1);
  }
}

.articles_section {
  padding: 1.9rem 1rem;
  max-width: 1310px;
}
@media (min-width: 1024px) {
  .articles_section {
    width: 90%;
    margin-inline: auto;
  }
}
@media (min-width: 1280px) {
  .articles_section {
    width: 85%;
  }
}
@media (min-width: 1440px) {
  .articles_section {
    width: 80%;
  }
}
.articles_section .primary_btn {
  display: flex;
  justify-content: flex-end;
  width: max-content;
  margin-left: auto;
}

.articles_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.article {
  position: relative;
  max-width: 272px;
}
.article .article_img {
  position: relative;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.article .article_img img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  position: relative;
  border-radius: 10px;
  z-index: 1;
}
.article .article_img::before {
  content: "";
  position: absolute;
  top: 0rem;
  right: -1rem;
  height: 164px;
  width: 146px;
  background: #E3000F;
  opacity: 0.12;
  transition: transform 0.2s ease-out;
  border-radius: 50% 50% 50% 50%/78% 60% 40% 22%;
}
.article .article_img::after {
  content: "";
  bottom: 0rem;
  left: -1rem;
  position: absolute;
  height: 164px;
  width: 146px;
  background: #1E2A4F;
  opacity: 0.12;
  transition: transform 0.2s ease-out;
  border-radius: 50% 50% 50% 50%/78% 60% 40% 22%;
}
.article .article_content h3 {
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.article .article_content span {
  color: #E3000F;
}
.article:hover .article_img::before {
  transform: rotate(45deg) scale(1.1);
}
.article:hover .article_img::after {
  transform: rotate(-45deg) scale(1.1);
}

.partner_section {
  background: #E3000F;
  color: #FFFFFF;
}

.partner_section_container {
  padding: 1.9rem 1rem;
  max-width: 1310px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 1024px) {
  .partner_section_container {
    width: 90%;
    margin-inline: auto;
  }
}
@media (min-width: 1280px) {
  .partner_section_container {
    width: 85%;
  }
}
@media (min-width: 1440px) {
  .partner_section_container {
    width: 80%;
  }
}
.partner_section_container img {
  margin-inline: auto;
  object-fit: cover;
  height: 275px;
  width: auto;
}

.partner_content h2 {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .about_section {
    display: flex;
  }

  .partner_section_container {
    flex-direction: row;
    align-items: center;
    gap: 4rem;
  }

  .hero_img {
    max-width: unset;
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .coaches_container, .articles_container {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .hero_section_container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .hero_content {
    flex: 0.5;
  }

  .hero_img {
    margin-bottom: 0;
    flex: 0.5;
  }
}
@media (min-width: 1280px) {
  .partner_section_container {
    padding-inline: 6rem;
  }

  .banner_section a img {
    aspect-ratio: 7/1;
  }
}
@media (min-width: 1440px) {
  .hero_section_container {
    gap: 4rem;
  }

  .hero_content h1 {
    margin-bottom: 1.5rem;
  }
  .hero_content h2 {
    margin-bottom: 3rem;
  }
}
.article_page_section_container {
  padding: 1.9rem 1rem;
  max-width: 1310px;
  max-width: 1088px;
}
@media (min-width: 1024px) {
  .article_page_section_container {
    width: 90%;
    margin-inline: auto;
  }
}
@media (min-width: 1280px) {
  .article_page_section_container {
    width: 85%;
  }
}
@media (min-width: 1440px) {
  .article_page_section_container {
    width: 80%;
  }
}

.article_page_main_img {
  margin-bottom: 2rem;
}
.article_page_main_img img {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-inline: auto;
  height: auto;
  aspect-ratio: 16/9;
  display: block;
  border-radius: 20px;
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.05);
}

.article_page_content {
  margin-bottom: 2rem;
}
.article_page_content h1 {
  font-weight: 700;
  color: #E3000F;
  margin-bottom: 1rem;
}
.article_page_content span {
  display: block;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.article_page_content h4 {
  font-weight: 700;
  margin-bottom: 1rem;
}

.article_page_content_footer {
  padding-top: 1rem;
  border-top: 1px solid rgba(227, 0, 15, 0.15);
  display: flex;
  align-items: center;
}
.article_page_content_footer .icons {
  display: flex;
  gap: 0.25rem;
  margin-right: 0.5rem;
}
.article_page_content_footer span {
  text-transform: uppercase;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .article_page_section_container {
    width: 80%;
    margin-inline: auto;
  }

  .article_page_main_img {
    position: relative;
  }
  .article_page_main_img::before {
    content: "";
    position: absolute;
    top: -4rem;
    right: -1rem;
    height: 25vw;
    width: 20vw;
    max-height: 400px;
    max-width: 356px;
    background: #1E2A4F;
    opacity: 0.12;
    transform: rotate(-90deg);
    border-radius: 50% 50% 50% 50%/78% 60% 40% 22%;
  }
  .article_page_main_img::after {
    content: "";
    bottom: -1rem;
    left: -4rem;
    position: absolute;
    height: 25vw;
    width: 20vw;
    max-height: 400px;
    max-width: 356px;
    background: #E3000F;
    opacity: 0.12;
    border-radius: 50% 50% 50% 50%/78% 60% 40% 22%;
  }

  .article_page_content, .article_page_content_footer {
    padding-inline: 2rem;
  }
}
@media (min-width: 1280px) {
  .article_page_section_container {
    width: 70%;
  }

  .article_page_content, .article_page_content_footer {
    padding-inline: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
