*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $white;
    font-size: 16px;
    font-family: 'Barlow';
}

h1 {
    font-size: calc(2rem / $fontRatio);
    line-height: 1.25;
}

h2 {
    font-size: calc(1.5rem / $fontRatio);
    line-height: 1.25;
}

h3 {
    font-size: calc(1.25rem / $fontRatio);
}

li {
    font-size: 1rem;
    line-height: 1.5;
    list-style: none;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

a {
    font-size: 1rem;
    text-decoration: none
}

.primary_btn {
    @include button;
}

span {
    font-size: .875rem;
}

img {
    max-width: 100%;
}

.stretched_link {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}