header {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include section-spaceAround;

    padding-top: .75rem;
    padding-bottom: .75rem;
}

.header_logo_container {
    height: 100%;
    display: grid;
    place-items: center;
    background-image: url('../img/KL_Logo_SHT_Final-1.png');
    background-size: 100% 100%;
    width: 100px;
    text-align: center;

    img {
        object-fit: contain;
        max-height: 58px;
    }
}

nav {
    position: fixed;
    inset: 5rem 0 0 0;
    width: 100%;
    height: calc(100vh - 5rem);
    background: $blue;
    z-index: 20;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;

    &.active {
        transform: translateX(0);
    }

    .social_icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        flex: .2;
    }
}

.nav_links {
    flex: .8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    li {
        a {
            display: inline-block;
            padding-bottom: .05rem;
            color: $white;
            font-weight: 700;

            &::after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background: $red;
                transition: width .3s;
            }

            &:hover::after {
                width: 100%;
            }

            &:hover {
                color: $red;
            }
        }
    }
}

.burger {
    padding: .5rem;
    cursor: pointer;

    div {
        width: 2rem;
        height: 4px;
        background: $black;
        margin: .5rem 0;
        border-radius: 2rem;
        transition: all .1s ease-in;
    }
}

.burger.active {
    div {
        &:nth-child(1) {
            transform: translateY(.4rem) rotate(45deg);
        }

        &:nth-child(2) {
            display: none;
        }

        &:nth-child(3) {
            transform: translateY(-0.4rem) rotate(-45deg);
        }
    }
}

@media (min-width: 1024px) {
    .burger {
        display: none;
    }
    nav {
        position: relative;
        inset: 0;
        transform: unset;
        background: unset;
        flex-direction: row;
        height: 100%;

        .social_icons {
            flex: unset;
        }
    }

    .nav_links {
        flex-direction: row;
        gap: 1rem;
        flex: 1;

        li {
            a {
                color: $black;
            }
        }
    }
}

@media (min-width: 1440px) {
    header {
        height: 6.5rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .header_logo_container {
        width: 12.75rem;
    }

    .nav_links {
        gap: 2rem;

        li:not(:first-child) {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: -1rem;
                transform: translateY(-50%);
                height: 6px;
                width: 3px;
                background: rgba($color: $red, $alpha: .2);
            }
        }
    }
}