.hero_section {
    background-image: url('../img/top_story_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.hero_section_container {
    @include section-spaceAround;

    display: flex;
    flex-direction: column-reverse;
    padding-top: 2.8rem;
    padding-bottom: 3.5rem;
    color: $white;
}

.hero_content {
    h1 {
        font-weight: 400;
        margin-bottom: 1rem;
    }

    h2 {
        font-weight: 400;
        margin-bottom: 2.5rem;
    }
}

.hero_btns {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.hero_img {
    position: relative;
    max-width: 400px;
    margin: 0 auto 2rem auto;

    .static_img {
        display: block;
        aspect-ratio: 380/400;
        width: 40%;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        border: 1px solid yellow;
    }

    .video {
        img {
            display: block;
            aspect-ratio: 608/522;
            width: 100%;
            height: auto;
            border-radius: 68% 32% 23% 77% / 54% 52% 48% 46%;
        }
    }
}

.banner_section {
    display: flex;
    justify-content: center;

    @include section-spaceAround;

    a {
        img {
            aspect-ratio: 5 / 1;
            max-height: 100px;
        }
    }
}

.about_section {
    @include section-spaceAround;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.about_card {
    @include about-card;
}

.coaches_section {
    background-image: url('../img/coaches_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.coaches_section_container {
    @include section-spaceAround;

    padding: 7rem 1rem 5rem 1rem;

    .primary_btn {
        display: flex;
        justify-content: flex-end;
        width: max-content;
        margin-left: auto;
    }
}

.coaches_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem 0;
    margin-bottom: 3rem;
}

.coaches_item {
    @include coach-card;
}

.articles_section {
    @include section-spaceAround;

    .primary_btn {
        display: flex;
        justify-content: flex-end;
        width: max-content;
        margin-left: auto;
    }
}

.articles_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.article {
    @include article;
}

.partner_section {
    background: $red;
    color: $white;
}

.partner_section_container {
    @include section-spaceAround;

    max-width: 1050px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    img {
        margin: 0 auto;
        object-fit: cover;
        height: 275px;
        width: auto;
    }
}

.partner_content {
    h2 {
        margin-bottom: 1rem;
    }
}

@media (min-width: 768px) {
    .about_section {
        display: flex;
    }

    .partner_section_container {
        flex-direction: row;
        align-items: center;
        gap: 4rem;
    }

    .hero_img {
        max-width: unset;
        width: 50%;
    }
}

@media (min-width: 1024px) {

    .coaches_container,
    .articles_container {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .hero_section,
    .coaches_section {
        background-size: 100% 100%;
    }

    .hero_section_container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .hero_content {
        flex: .5;
    }

    .hero_img {
        margin-bottom: 0;
        flex: .5;
    }
}

@media (min-width: 1280px) {
    .banner_section a img {
        aspect-ratio: 7/1;
    }
}

@media (min-width: 1440px) {
    .hero_section_container {
        gap: 4rem;
        padding: 5rem 0 0 0;
    }

    .banner_section {
        padding: 2rem 0 0 0;
    }

    .about_section {
        padding: 3.5rem 0;
    }

    .coaches_section_container {
        padding: 7rem 0 5rem 0;
    }

    .articles_section {
        padding: 5rem 0;
    }

    .partner_section_container {
        padding: 5rem 0;

        img {
            height: 333px;
        }
    }

    .hero_content {
        h1 {
            margin-bottom: 1.5rem;
        }

        h2 {
            margin-bottom: 3rem;
        }
    }
}