.hero_section {
    background-image: url('../img/top_story_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.hero_section_container {
    @include section-spaceAround;

    display: flex;
    flex-direction: column-reverse;
    padding-top: 2.8rem;
    padding-bottom: 3.5rem;
    color: $white;
}

.hero_content {
    h1 {
        font-weight: 400;
        margin-bottom: 1rem;
    }

    h2 {
        font-weight: 400;
        margin-bottom: 2.5rem;
    }
}

.hero_btns {
    display: flex;
    flex-wrap: wrap;

    a {
        &:nth-child(1) {
            margin-right: 1rem;
        }

        margin-bottom: 1rem;
    }
}

.hero_img {
    position: relative;
    max-width: 400px;
    margin: 0 auto 2rem auto;

    .static_img {
        display: block;
        width: clamp(138px, 15vw, 270px);
        height: clamp(144px, 17vw, 290px);
        position: absolute;
        bottom: 0;
        left: 0;
        border: 1px solid yellow;
    }

    .video {
        img {
            width: clamp(310px, 35vw, 600px);
            height: clamp(270px, 30vw, 522px);
            border-radius: 68% 32% 23% 77% / 54% 52% 48% 46%;
        }
    }
}

.banner_section {
    display: flex;
    justify-content: center;

    @include section-spaceAround;

    a {
        img {
            width: clamp(280px, 60vw, 864px);
            height: clamp(60px, 12vw, 100px);
        }
    }
}

.about_section {
    @include section-spaceAround;

    display: flex;
    flex-wrap: wrap;
}

.about_card {
    @include about-card;
}

.coaches_section {
    background-image: url('../img/coaches_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.coaches_section_container {
    @include section-spaceAround;

    padding: 7rem 1rem 5rem 1rem;

    .primary_btn {
        display: flex;
        justify-content: flex-end;
        width: max-content;
        margin-left: auto;
    }
}

.coaches_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.coaches_item {
    @include coach-card;
}

.articles_section {
    @include section-spaceAround;

    .primary_btn {
        display: flex;
        justify-content: flex-end;
        width: max-content;
        margin-left: auto;
    }
}

.articles_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
}

.article {
    @include article;
}

.partner_section {
    background: $red;
    color: $white;
}

.partner_section_container {
    @include section-spaceAround;

    max-width: 1050px;
    display: flex;
    flex-direction: column;

    img {
        margin: 0 auto;
        margin-bottom: 2rem;
        object-fit: cover;
        height: 275px;
        width: auto;
    }
}

.partner_content {
    h2 {
        margin-bottom: 1rem;
    }
}

@media (min-width: 768px) {
    .about_section {
        display: flex;
    }

    .partner_section_container {
        flex-direction: row;
        align-items: center;

        img {
            margin-bottom: 0;
            margin-right: 4rem;
        }
    }

    .hero_img {
        max-width: unset;
        width: 50%;
    }

    .hero_btns a {
        margin-bottom: 0;
    }
}

@media (min-width: 1024px) {

    .coaches_container,
    .articles_container {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .hero_section,
    .coaches_section {
        background-size: 100% 100%;
    }

    .hero_section_container {
        flex-direction: row;
        justify-content: space-between;
    }

    .hero_content {
        margin-top: 6ch;
        flex: .5;

        h1 {
            max-width: 30ch;
        }

        h2 {
            max-width: 27ch;
        }
    }

    .hero_img {
        margin-left: 2rem;
        margin-bottom: 0;
        flex: .5;
    }
}

@media (min-width: 1440px) {
    .hero_section_container {
        padding: 5rem 0 0 0;
    }

    .hero_img {
        margin-left: 4rem;

        .static_img {
            bottom: 1rem;
        }
    }

    .banner_section {
        padding: 2rem 0 0 0;
    }

    .about_section {
        padding: 3.5rem 0;
    }

    .coaches_section_container {
        padding: 7rem 0 5rem 0;
    }

    .articles_section {
        padding: 5rem 0;
    }

    .partner_section_container {
        padding: 5rem 0;

        img {
            height: 333px;
        }
    }

    .hero_content {
        h1 {
            margin-bottom: 1.5rem;
        }

        h2 {
            margin-bottom: 3rem;
        }
    }
}