.hero_section_container {
    @include section-spaceAround;

    padding-top: 2.8rem;
    color: $white;
    background: $red;
}

.hero_content {
    h1 {
        font-weight: 400;
        margin-bottom: 1rem;
    }

    h2 {
        font-weight: 400;
        margin-bottom: 2.5rem;
    }
}

.hero_btns {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
 
.banner_section {
    @include section-spaceAround;

    a img {
        aspect-ratio: 5 / 1;
        max-height: 100px;
    }
}

.about_section {
    @include section-spaceAround;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.about_card {
    @include about-card;
}

.coaches_section_container {
    @include section-spaceAround;
}

.coaches_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem 0;
    margin-bottom: 3rem;
}

.coaches_item {
    @include coach-card;
}

.articles_section {
    @include section-spaceAround;
}

.articles_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.article {
    @include article;
}

.partner_section {
    background: $red;
    color: $white;
}

.partner_section_container {
    @include section-spaceAround;
    
    display: flex;
    flex-wrap: wrap;

    img {
        margin-inline: auto;
        margin-bottom: 2rem;
        object-fit: cover;
    }
}

.partner_content {
    h2 {
        margin-bottom: 1rem;
    }
}