@mixin section-spaceAround {
    padding: 1.9rem 1rem;
    max-width: 1310px;

    @media (min-width: 1024px) {
        width: 90%;
        margin: 0 auto;
    }

    @media (min-width: 1280px) {
        width: 85%;
    }

    @media (min-width: 1440px) {
        width: 80%;
    }
}

@mixin button {
    font-weight: 700;
    padding: .5rem 1.5rem;
    border-radius: 33px;
    display: flex;
    align-items: center;
    transition: all .2s ease-out;

    &::after {
        content: "";
        -webkit-mask-image: url('../img/arrow.svg');
        mask-image: url('../img/arrow.svg');
        height: 8px;
        width: 13px;
        margin-left: 1rem;
    }

    &.transparent {
        background: transparent;
        color: $white;
        border: 1px solid $white;

        &::after {
            background-color: $white;
        }
    }

    &.white {
        background: $white;
        color: $black;
        border: 1px solid $white;

        &::after {
            background-color: $black;
        }
    }

    &.red {
        background: transparent;
        color: $red;
        border: 1px solid $red;

        &::after {
            background-color: $red;
        }
    }

    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 60px rgba(#000000, .05);
    }

    @media (min-width: 1440px) {
        padding: .75rem 2rem;
    }
}

@mixin blob {
    border-radius: 50% 50% 50% 50% / 78% 60% 40% 22%;
}

@mixin about-card {
    display: flex;
    flex-direction: column-reverse;
    padding: 2.5rem;
    border-radius: 25px;
    box-shadow: 0px 0px 60px rgba(#000000, .05);
    width: 100%;

    &:nth-child(1) {
        margin-bottom: 2rem;
    }

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .header_icon {
            height: 3rem;
            min-width: 3rem;
            width: 3rem;
            display: grid;
            place-items: center;
            margin-right: 1rem;

            @include blob;

            &.red {
                background: $red;
            }

            &.blue {
                background: $blue;
            }
        }

        h2 {
            word-spacing: 9999px;
            font-weight: 700;

            &.red {
                color: $red;
            }

            &.blue {
                color: $blue;
            }
        }
    }

    ul {
        &.red li::before {
            background: $red;
        }

        &.blue li::before {
            background: $blue;
        }

        li {
            font-weight: 700;
            position: relative;
            padding-left: 1rem;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 6px;
                width: 3px;
            }
        }
    }

    .about_card_img {
        position: relative;
        padding: 0 1rem 1rem 1rem;
        max-width: 210px;
        margin: 0 auto;
        margin-bottom: 2rem;

        img {
            display: block;
            width: 120px;
            height: 120px;
            position: relative;
            margin-left: auto;
            z-index: 1;
            border-radius: 10px;
            box-shadow: 0px 0px 70px rgba(#000000, .2);
        }

        &.red::after {
            background: $red;
        }

        &.blue::after {
            background: $blue;
        }

        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translateX(1rem);
            height: 144px;
            width: 126px;

            @include blob;
        }
    }

    @media (min-width: 768px) {
        &:nth-child(1) {
            margin-bottom: 0;
            margin-right: 2rem;
        }

        flex: .5;
    }

    @media (min-width: 1280px) {
        align-items: center;
        flex-direction: row;
        padding: 3.5rem;

        .about_card_content {
            flex: .5;
        }

        .about_card_img {
            flex: .5;
            margin-bottom: 0;

            img {
                width: 140px;
                height: 140px;
            }

            &::after {
                height: 164px;
                width: 146px;
            }
        }
    }
}

@mixin coach-card {
    flex: 1 1 auto;
    text-align: center;
    padding: 0 2rem;
    margin: 1rem 0;

    img {
        height: 100px;
        width: 100px;
        margin-bottom: 1rem;

        @include blob;
    }

    span {
        color: $red;
    }

    @media (min-width: 1024px) {
        &:not(:last-child) {
            border-right: 1px solid rgba($color: $red, $alpha: .1);
        }
    }

    @media (min-width: 1440px) {
        img {
            height: 140px;
            width: 140px;
        }
    }
}

@mixin article {
    position: relative;
    max-width: 272px;
    margin: 1rem;

    .article_img {
        position: relative;
        padding: 1rem 0;
        margin-bottom: 1rem;

        img {
            display: block;
            width: 100%;
            height: auto;
            min-height: 204px;
            aspect-ratio: 4/3;
            border-radius: 10px;
            position: relative;
            z-index: 1;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0rem;
            right: -1rem;
            height: 164px;
            width: 146px;
            background: $red;
            opacity: .12;
            transition: transform .2s ease-out;

            @include blob;
        }

        &::after {
            content: "";
            bottom: 0rem;
            left: -1rem;
            position: absolute;
            height: 164px;
            width: 146px;
            background: $blue;
            opacity: .12;
            transition: transform .2s ease-out;

            @include blob;
        }
    }

    .article_content {
        h3 {
            line-height: 1.2;
            margin-bottom: .5rem;
        }

        span {
            color: $red;
        }
    }

    @media (min-width: 768px) {
        &:hover {
            .article_img {
                &::before {
                    transform: rotate(45deg) scale(1.1);
                }

                &::after {
                    transform: rotate(-45deg) scale(1.1);
                }
            }
        }
    }

    // Safari doesn't support aspect-ratio on older versions
    @media (min-width: 1024px) {
        .article_img img {
            min-height: 145px;
        }
    }

    @media (min-width: 1440px) {
        .article_img img {
            min-height: 204px;
        }
    }
}